In [18]:
import numpy as np
import pandas as pd

In [19]:
left=pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'a':['A0','A1','A2','A3'],
                    'b':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'c':['C0','C1','C2','C3'],
                    'd':['D0','D1','D2','D3']})
print(left)
print(right)

  key   a   b
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3
  key   c   d
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [20]:
res=pd.merge(left,right,on='key')
res

  key   a   b   c   d
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [21]:
left=pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'a':['A0','A1','A2','A3'],
                    'b':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':{1:'k0',2:'k1',3:'k2',4:'k3'},
                    'c':{1:'C0',2:'C1',3:'C2',4:'C3'},
                    'd':{1:'D0',2:'D1',3:'D2',4:'D3'}})
print(left)
print(right)

  key   a   b
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3
  key   c   d
1  k0  C0  D0
2  k1  C1  D1
3  k2  C2  D2
4  k3  C3  D3

在left和right的index不对齐的情况下，结果还是和上面一样，
因为此时我们以key值作为连接的标识，不考虑其他的cloumns

In [22]:
res=pd.merge(left,right,on='key')
res

  key   a   b   c   d
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

在on的值不完全匹配时(只保留匹配的项)（内连接）

In [23]:
left=pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'a':['A0','A1','A2','A3'],
                    'b':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':{1:'k4',2:'k1',3:'k2',4:'k3'},
                    'c':{1:'C4',2:'C1',3:'C2',4:'C3'},
                    'd':{1:'D4',2:'D1',3:'D2',4:'D3'}})
res=pd.merge(left,right,on='key')
res

  key   a   b   c   d
0  k1  A1  B1  C1  D1
1  k2  A2  B2  C2  D2
2  k3  A3  B3  C3  D3

In [24]:
std_left=pd.read_excel('left.xlsx')
std_right=pd.read_excel('right.xlsx')
std=pd.merge(std_left,std_right,on="姓名")
print(std_left.columns)
print(std_right.columns)
print(std_left.dtypes)
print(std_right.dtypes)

Index(['序号', '院系', '学号', '姓名', '培养层次', '奖学金等级', '入选理由'], dtype='object')
Index(['序号', '院系', '班级', '学号', '姓名', '学制', '入学时间', '到站点', '身份证号', '户口所在地址'], dtype='object')
序号        int64
院系       object
学号        int64
姓名       object
培养层次     object
奖学金等级    object
入选理由     object
dtype: object
序号        object
院系        object
班级        object
学号        object
姓名        object
学制        object
入学时间      object
到站点       object
身份证号      object
户口所在地址    object
dtype: object

In [25]:
std.drop(["序号_x","序号_y","学号_x"],axis=1)

,院系_x,姓名,培养层次,奖学金等级,入选理由,院系_y,班级,学号_y,学制,入学时间,到站点,身份证号,户口所在地址
0,数科院,廖军,博士,一等,科研成果丰富,数学科学学院,统计学,2170501015,4,201709,NaN,340828199009276679,北京市西三环北路105号首都师范大学校本部
1,数科院,来乐敏,博士,二等,科研成果丰富,数学科学学院,基础数学,2170501001,4,201709,NaN,140224199102051225,北京市海淀区西三环北路105号首都师范大学
2,数科院,张晋华,博士,二等,科研成果丰富,数学科学学院,数学物理*,2170501011,4,201709,NaN,142201198209180732,忻州市和平西街十号忻州师范学院物理系
3,数科院,王玉婷,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501002,4,201709,NaN,140322199102067545,山西省太原市小店区坞城路92号山西大学
4,数科院,孙永亮,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501003,4,201709,NaN,320902199207077513,江苏省盐城市亭湖区新兴镇新场村6组41号
5,数科院,郭倩倩,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501004,4,201709,NaN,412822199212070029,吉林省长春市南关区人民大街5268号东北师范大学
6,数科院,刘亚楠,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501005,4,201709,NaN,140303199106191229,北京西三环北路105号
7,数科院,王军,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501006,4,201709,NaN,371523198606200510,山东省聊城市茌平县振兴街道华鲁街1号配送站旁
8,数科院,张金币,博士,三等,科研成果丰富,数学科学学院,基础数学,2170501007,4,201709,NaN,342201198710086499,安徽省宿州市埇桥区祁县镇
9,数科院,索晓晓,博士,三等,科研成果丰富,数学科学学院,应用数学,2170501009,4,201709,NaN,410823199109050366,北京市海淀区西三环北路105号
10,数科院,赵斌,博士,三等,科研成果丰富,数学科学学院,应用数学,2170501010,4,201709,NaN,371102198811027119,北京市海淀区西三环北路105号首都师范大学校本部9A楼
11,数科院,陈滢,博士,三等,科研成果丰富,数学科学学院,数学物理*,2170501012,4,201709,NaN,411424199211245421,北京市西三环北路105号首都师范大学校本部
12,数科院,邹丰,博士,三等,科研成果丰富,数学科学学院,统计学,2170501014,4,201709,NaN,362202199110165075,北京市西三环105号首都师范大学本部
13,数科院,宗先鹏,博士,三等,科研成果丰富,数学科学学院,统计学,2170501016,4,201709,NaN,370724198812165193,北京市海淀区西三环北路105号首都师范大学本校部数学科学学院
14,数科院,李慧敏,硕士,一等,基础课成绩优异,数学科学学院,应用统计,2170502007,3,201709,NaN,320923199404080924,江苏省阜宁县开发区码头居委会五组308号
15,数科院,高源,硕士,一等,基础课成绩优异,数学科学学院,应用统计,2170502012,3,201709,NaN,220202199402137225,吉林省吉林市船营区西安路华天佳苑湖东小区4号楼1单元1601
16,数科院,宋淑钰,硕士,一等,基础课成绩优异,数学科学学院,应用统计,2170502023,3,201709,NaN,140226199401181049,山西省大同市左云县张家场乡张家场村
17,数科院,窦凤娇,硕士,一等,基础课成绩优异,数学科学学院,应用统计,2170502028,3,201709,NaN,371122199404198324,陕西省西安市雁塔区小寨东路四号B区公寓2013号
18,数科院,郭津纲,硕士,一等,基础课成绩优异,数学科学学院,应用统计,2170502031,3,201709,NaN,362428199312244112,江西省吉安市万安县潞田镇田心村乃排31号
19,数科院,于巾虹,硕士,一等,基础课成绩优异,数学科学学院,基础数学,2170502036,3,201709,NaN,41110219931013006X,河南省漯河市源汇区新生路506号
20,数科院,张影,硕士,一等,基础课成绩优异,数学科学学院,基础数学,2170502048,3,201709,NaN,231026199511114228,黑龙江省鸡西市密山市农机局家属楼老楼3单元701室
21,数科院,刘瑞,硕士,一等,基础课成绩优异,数学科学学院,基础数学,2170502053,3,201709,NaN,341281199412123760,安徽省亳州市谯城区龙扬镇冯随行政村刘庄96号
22,数科院,康凡,硕士,一等,基础课成绩优异,数学科学学院,基础数学,2170502057,3,201709,NaN,130133199510242425,河北省石家庄市赵县前大章乡豆腐庄村护村路03号
23,数科院,张扬,硕士,一等,基础课成绩优异,数学科学学院,基础数学,2170502061,3,201709,NaN,431021199411127553,湖南省郴州市桂阳县板桥乡泉溪村3组
24,数科院,尚园园,硕士,一等,基础课成绩优异,数学科学学院,计算数学,2170502064,3,201709,NaN,130434199704225220,河北省邯郸市魏县边马乡尚骈村
25,数科院,曹田,硕士,一等,基础课成绩优异,数学科学学院,计算数学,2170502065,3,201709,NaN,130923199307123042,河北省沧州市东光县连镇镇二街村
26,数科院,郭亚蒙,硕士,一等,基础课成绩优异,数学科学学院,概率论与数理统计,2170502069,3,201709,NaN,130982199411233428,河北省沧州市
27,数科院,张南,硕士,一等,基础课成绩优异,数学科学学院,应用数学,2170502083,3,201709,NaN,130633199409122629,河北省保定市易县南城司乡南台村
28,数科院,郭丹丹,硕士,一等,基础课成绩优异,数学科学学院,应用数学,2170502085,3,201709,NaN,130424199301020762,河北省邯郸市成安县李家疃镇郭三村
29,数科院,宋洁,硕士,一等,基础课成绩优异,数学科学学院,应用数学,2170502093,3,201709,NaN,371481199405140040,山东省德州乐陵市朱集镇三间堂村
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,数科院,王潇,硕士,三等,基础课成绩优异,数学科学学院,数学教育,2170502108,3,201709,NaN,141122199407160126,山西省吕梁市交城县天宁镇东街
84,数科院,郝丽廷,硕士,三等,基础课成绩优异,数学科学学院,数学教育,2170502110,3,201709,NaN,142427199401242429,山西省晋中市寿阳县平头镇石河村
85,数科院,陈航,硕士,三等,基础课成绩优异,数学科学学院,数学教育,2170502112,3,201709,NaN,321281199512011252,江苏省兴化市合陈镇西成章村
86,数科院,陈露露,硕士,三等,基础课成绩优异,数学科学学院,数学教育,2170502115,3,201709,NaN,370827199712050822,山东省济宁市鱼台县老砦镇老砦街013号
87,数科院,魏志伟,硕士,三等,基础课成绩优异,数学科学学院,数学物理,2170502118,3,201709,NaN,622424199202021135,甘肃省定西市通渭县陇川乡花湾村贾湾社10号
88,数科院,柴雪冬,硕士,三等,基础课成绩优异,数学科学学院,数学物理,2170502119,3,201709,NaN,412728199412066481,河南省沈丘县赵德营镇宋营行政村柴营村003
89,数科院,田朋朋,硕士,三等,基础课成绩优异,数学科学学院,数学物理,2170502121,3,201709,NaN,412702199209174539,河南省项城市官会镇毛楼行政村田庄
90,数科院,刘志文,硕士,三等,基础课成绩优异,数学科学学院,数学物理,2170502124,3,201709,NaN,130922199309070021,河北省沧州市青县清州镇西街村华西道胡同4组49号
91,数科院,张凡,硕士,三等,基础课成绩优异,数学科学学院,数学与信息技术,2170502128,3,201709,NaN,130682199406072715,河北省定州市子位镇北内堡村906号
92,数科院,张付涛,硕士,三等,基础课成绩优异,数学科学学院,数学与信息技术,2170502129,3,201709,NaN,41052119930401007X,河南省林州市城关镇
93,数科院,孙孟珍,硕士,三等,基础课成绩优异,数学科学学院,统计学,2170502136,3,201709,NaN,370302199404202527,山东省淄博市淄川区寨里镇土山峪村
94,数科院,孙泽锋,硕士,单项,基础课成绩优异,数学科学学院,应用统计,2170502011,3,201709,NaN,330681199312121759,诸暨市暨阳街道孙家村636
95,数科院,孙倩,硕士,单项,基础课成绩优异,数学科学学院,应用统计,2170502019,3,201709,NaN,370305199411221522,山东省淄博市临淄区金山镇南术西村
96,数科院,张现伟,硕士,单项,基础课成绩优异,数学科学学院,应用统计,2170502026,3,201709,NaN,412725199303187891,河南省鹿邑县宋河镇药铺行政村张印楼26号
97,数科院,滕宴旭,硕士,单项,基础课成绩优异,数学科学学院,应用统计,2170502033,3,201709,NaN,620421199312240039,甘肃省靖远县乌兰镇东大街630号1栋2单元221室
98,数科院,蔺晓会,硕士,单项,基础课成绩优异,数学科学学院,基础数学,2170502046,3,201709,NaN,130826199209018322,河北省承德市丰宁满族自治县汤河乡上台子村
99,数科院,冯倩,硕士,单项,基础课成绩优异,数学科学学院,基础数学,2170502047,3,201709,NaN,140321199410240024,冠山镇东门街
100,数科院,王熙熙,硕士,单项,基础课成绩优异,数学科学学院,基础数学,2170502049,3,201709,NaN,370283199311235824,田庄镇王家营村140号
101,数科院,谢嘉琦,硕士,单项,基础课成绩优异,数学科学学院,基础数学,2170502056,3,201709,NaN,330105199411260013,杭州市拱墅区五一新村10幢2单元202室
102,数科院,晋雪婷,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502072,3,201709,NaN,140202199307226529,山西省大同市城区振华南街派出所
103,数科院,张泽,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502074,3,201709,NaN,130634199410300118,河北省保定市曲阳县恒州镇恒阳街西侧300号
104,数科院,刘清翼,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502086,3,201709,NaN,130535199502235123,河北省石家庄市裕华区裕翔街16号
105,数科院,徐文峰,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502090,3,201709,NaN,362422199210134037,江西省吉安市吉水县尚贤乡南生村委洞背自然村1号
106,数科院,丛庆,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502094,3,201709,NaN,220284199307135410,松山镇派出所
107,数科院,谭超,硕士,单项,基础课成绩优异,数学科学学院,应用数学,2170502095,3,201709,NaN,500240198908191916,重庆市石柱县六塘乡黄腊村黄腊组76号
108,数科院,郝红红,硕士,单项,基础课成绩优异,数学科学学院,数学教育,2170502109,3,201709,NaN,141124199504040348,山西省吕梁市临县大禹乡前小峪村
109,数科院,赵敏,硕士,单项,基础课成绩优异,数学科学学院,数学教育,2170502111,3,201709,NaN,321281199510245506,江苏省泰州市兴化市竹泓镇
110,数科院,田莹,硕士,单项,基础课成绩优异,数学科学学院,数学物理,2170502122,3,201709,NaN,152104199511146623,黑龙江省齐齐哈尔市建华区建设大街运建园35号楼1单元403室
111,数科院,程文慧,硕士,单项,基础课成绩优异,数学科学学院,数学与信息技术,2170502125,3,201709,NaN,141024199311060021,山西省洪洞县曲亭镇东李村052号
112,数科院,刘铭,硕士,单项,基础课成绩优异,数学科学学院,数学与信息技术,2170502127,3,201709,NaN,220323199509252845,吉林省四平市伊通满族自治县马鞍镇新风村福安屯

In [26]:
std

,序号_x,院系_x,学号_x,姓名,培养层次,奖学金等级,入选理由,序号_y,院系_y,班级,学号_y,学制,入学时间,到站点,身份证号,户口所在地址
0,6,数科院,2170501015,廖军,博士,一等,科研成果丰富,6,数学科学学院,统计学,2170501015,4,201709,NaN,340828199009276679,北京市西三环北路105号首都师范大学校本部
1,14,数科院,2170501001,来乐敏,博士,二等,科研成果丰富,1,数学科学学院,基础数学,2170501001,4,201709,NaN,140224199102051225,北京市海淀区西三环北路105号首都师范大学
2,15,数科院,2170501011,张晋华,博士,二等,科研成果丰富,4,数学科学学院,数学物理*,2170501011,4,201709,NaN,142201198209180732,忻州市和平西街十号忻州师范学院物理系
3,44,数科院,2170501002,王玉婷,博士,三等,科研成果丰富,3,数学科学学院,基础数学,2170501002,4,201709,NaN,140322199102067545,山西省太原市小店区坞城路92号山西大学
4,45,数科院,2170501003,孙永亮,博士,三等,科研成果丰富,5,数学科学学院,基础数学,2170501003,4,201709,NaN,320902199207077513,江苏省盐城市亭湖区新兴镇新场村6组41号
5,46,数科院,2170501004,郭倩倩,博士,三等,科研成果丰富,14,数学科学学院,基础数学,2170501004,4,201709,NaN,412822199212070029,吉林省长春市南关区人民大街5268号东北师范大学
6,47,数科院,2170501005,刘亚楠,博士,三等,科研成果丰富,2,数学科学学院,基础数学,2170501005,4,201709,NaN,140303199106191229,北京西三环北路105号
7,48,数科院,2170501006,王军,博士,三等,科研成果丰富,11,数学科学学院,基础数学,2170501006,4,201709,NaN,371523198606200510,山东省聊城市茌平县振兴街道华鲁街1号配送站旁
8,49,数科院,2170501007,张金币,博士,三等,科研成果丰富,7,数学科学学院,基础数学,2170501007,4,201709,NaN,342201198710086499,安徽省宿州市埇桥区祁县镇
9,51,数科院,2170501009,索晓晓,博士,三等,科研成果丰富,12,数学科学学院,应用数学,2170501009,4,201709,NaN,410823199109050366,北京市海淀区西三环北路105号
10,52,数科院,2170501010,赵斌,博士,三等,科研成果丰富,10,数学科学学院,应用数学,2170501010,4,201709,NaN,371102198811027119,北京市海淀区西三环北路105号首都师范大学校本部9A楼
11,53,数科院,2170501012,陈滢,博士,三等,科研成果丰富,13,数学科学学院,数学物理*,2170501012,4,201709,NaN,411424199211245421,北京市西三环北路105号首都师范大学校本部
12,54,数科院,2170501014,邹丰,博士,三等,科研成果丰富,8,数学科学学院,统计学,2170501014,4,201709,NaN,362202199110165075,北京市西三环105号首都师范大学本部
13,55,数科院,2170501016,宗先鹏,博士,三等,科研成果丰富,9,数学科学学院,统计学,2170501016,4,201709,NaN,370724198812165193,北京市海淀区西三环北路105号首都师范大学本校部数学科学学院
14,75,数科院,2170502007,李慧敏,硕士,一等,基础课成绩优异,7,数学科学学院,应用统计,2170502007,3,201709,NaN,320923199404080924,江苏省阜宁县开发区码头居委会五组308号
15,76,数科院,2170502012,高源,硕士,一等,基础课成绩优异,11,数学科学学院,应用统计,2170502012,3,201709,NaN,220202199402137225,吉林省吉林市船营区西安路华天佳苑湖东小区4号楼1单元1601
16,77,数科院,2170502023,宋淑钰,硕士,一等,基础课成绩优异,22,数学科学学院,应用统计,2170502023,3,201709,NaN,140226199401181049,山西省大同市左云县张家场乡张家场村
17,78,数科院,2170502028,窦凤娇,硕士,一等,基础课成绩优异,27,数学科学学院,应用统计,2170502028,3,201709,NaN,371122199404198324,陕西省西安市雁塔区小寨东路四号B区公寓2013号
18,79,数科院,2170502031,郭津纲,硕士,一等,基础课成绩优异,30,数学科学学院,应用统计,2170502031,3,201709,NaN,362428199312244112,江西省吉安市万安县潞田镇田心村乃排31号
19,80,数科院,2170502036,于巾虹,硕士,一等,基础课成绩优异,35,数学科学学院,基础数学,2170502036,3,201709,NaN,41110219931013006X,河南省漯河市源汇区新生路506号
20,83,数科院,2170502048,张影,硕士,一等,基础课成绩优异,40,数学科学学院,基础数学,2170502048,3,201709,NaN,231026199511114228,黑龙江省鸡西市密山市农机局家属楼老楼3单元701室
21,84,数科院,2170502053,刘瑞,硕士,一等,基础课成绩优异,45,数学科学学院,基础数学,2170502053,3,201709,NaN,341281199412123760,安徽省亳州市谯城区龙扬镇冯随行政村刘庄96号
22,85,数科院,2170502057,康凡,硕士,一等,基础课成绩优异,49,数学科学学院,基础数学,2170502057,3,201709,NaN,130133199510242425,河北省石家庄市赵县前大章乡豆腐庄村护村路03号
23,86,数科院,2170502061,张扬,硕士,一等,基础课成绩优异,53,数学科学学院,基础数学,2170502061,3,201709,NaN,431021199411127553,湖南省郴州市桂阳县板桥乡泉溪村3组
24,87,数科院,2170502064,尚园园,硕士,一等,基础课成绩优异,55,数学科学学院,计算数学,2170502064,3,201709,NaN,130434199704225220,河北省邯郸市魏县边马乡尚骈村
25,88,数科院,2170502065,曹田,硕士,一等,基础课成绩优异,56,数学科学学院,计算数学,2170502065,3,201709,NaN,130923199307123042,河北省沧州市东光县连镇镇二街村
26,89,数科院,2170502069,郭亚蒙,硕士,一等,基础课成绩优异,59,数学科学学院,概率论与数理统计,2170502069,3,201709,NaN,130982199411233428,河北省沧州市
27,90,数科院,2170502083,张南,硕士,一等,基础课成绩优异,71,数学科学学院,应用数学,2170502083,3,201709,NaN,130633199409122629,河北省保定市易县南城司乡南台村
28,91,数科院,2170502085,郭丹丹,硕士,一等,基础课成绩优异,73,数学科学学院,应用数学,2170502085,3,201709,NaN,130424199301020762,河北省邯郸市成安县李家疃镇郭三村
29,92,数科院,2170502093,宋洁,硕士,一等,基础课成绩优异,81,数学科学学院,应用数学,2170502093,3,201709,NaN,371481199405140040,山东省德州乐陵市朱集镇三间堂村
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,217,数科院,2170502108,王潇,硕士,三等,基础课成绩优异,94,数学科学学院,数学教育,2170502108,3,201709,NaN,141122199407160126,山西省吕梁市交城县天宁镇东街
84,218,数科院,2170502110,郝丽廷,硕士,三等,基础课成绩优异,96,数学科学学院,数学教育,2170502110,3,201709,NaN,142427199401242429,山西省晋中市寿阳县平头镇石河村
85,219,数科院,2170502112,陈航,硕士,三等,基础课成绩优异,98,数学科学学院,数学教育,2170502112,3,201709,NaN,321281199512011252,江苏省兴化市合陈镇西成章村
86,220,数科院,2170502115,陈露露,硕士,三等,基础课成绩优异,101,数学科学学院,数学教育,2170502115,3,201709,NaN,370827199712050822,山东省济宁市鱼台县老砦镇老砦街013号
87,221,数科院,2170502118,魏志伟,硕士,三等,基础课成绩优异,104,数学科学学院,数学物理,2170502118,3,201709,NaN,622424199202021135,甘肃省定西市通渭县陇川乡花湾村贾湾社10号
88,222,数科院,2170502119,柴雪冬,硕士,三等,基础课成绩优异,105,数学科学学院,数学物理,2170502119,3,201709,NaN,412728199412066481,河南省沈丘县赵德营镇宋营行政村柴营村003
89,223,数科院,2170502121,田朋朋,硕士,三等,基础课成绩优异,107,数学科学学院,数学物理,2170502121,3,201709,NaN,412702199209174539,河南省项城市官会镇毛楼行政村田庄
90,224,数科院,2170502124,刘志文,硕士,三等,基础课成绩优异,110,数学科学学院,数学物理,2170502124,3,201709,NaN,130922199309070021,河北省沧州市青县清州镇西街村华西道胡同4组49号
91,225,数科院,2170502128,张凡,硕士,三等,基础课成绩优异,114,数学科学学院,数学与信息技术,2170502128,3,201709,NaN,130682199406072715,河北省定州市子位镇北内堡村906号
92,226,数科院,2170502129,张付涛,硕士,三等,基础课成绩优异,115,数学科学学院,数学与信息技术,2170502129,3,201709,NaN,41052119930401007X,河南省林州市城关镇
93,227,数科院,2170502136,孙孟珍,硕士,三等,基础课成绩优异,120,数学科学学院,统计学,2170502136,3,201709,NaN,370302199404202527,山东省淄博市淄川区寨里镇土山峪村
94,251,数科院,2170502011,孙泽锋,硕士,单项,基础课成绩优异,10,数学科学学院,应用统计,2170502011,3,201709,NaN,330681199312121759,诸暨市暨阳街道孙家村636
95,252,数科院,2170502019,孙倩,硕士,单项,基础课成绩优异,18,数学科学学院,应用统计,2170502019,3,201709,NaN,370305199411221522,山东省淄博市临淄区金山镇南术西村
96,253,数科院,2170502026,张现伟,硕士,单项,基础课成绩优异,25,数学科学学院,应用统计,2170502026,3,201709,NaN,412725199303187891,河南省鹿邑县宋河镇药铺行政村张印楼26号
97,254,数科院,2170502033,滕宴旭,硕士,单项,基础课成绩优异,32,数学科学学院,应用统计,2170502033,3,201709,NaN,620421199312240039,甘肃省靖远县乌兰镇东大街630号1栋2单元221室
98,256,数科院,2170502046,蔺晓会,硕士,单项,基础课成绩优异,38,数学科学学院,基础数学,2170502046,3,201709,NaN,130826199209018322,河北省承德市丰宁满族自治县汤河乡上台子村
99,257,数科院,2170502047,冯倩,硕士,单项,基础课成绩优异,39,数学科学学院,基础数学,2170502047,3,201709,NaN,140321199410240024,冠山镇东门街
100,258,数科院,2170502049,王熙熙,硕士,单项,基础课成绩优异,41,数学科学学院,基础数学,2170502049,3,201709,NaN,370283199311235824,田庄镇王家营村140号
101,259,数科院,2170502056,谢嘉琦,硕士,单项,基础课成绩优异,48,数学科学学院,基础数学,2170502056,3,201709,NaN,330105199411260013,杭州市拱墅区五一新村10幢2单元202室
102,260,数科院,2170502072,晋雪婷,硕士,单项,基础课成绩优异,62,数学科学学院,应用数学,2170502072,3,201709,NaN,140202199307226529,山西省大同市城区振华南街派出所
103,261,数科院,2170502074,张泽,硕士,单项,基础课成绩优异,64,数学科学学院,应用数学,2170502074,3,201709,NaN,130634199410300118,河北省保定市曲阳县恒州镇恒阳街西侧300号
104,263,数科院,2170502086,刘清翼,硕士,单项,基础课成绩优异,74,数学科学学院,应用数学,2170502086,3,201709,NaN,130535199502235123,河北省石家庄市裕华区裕翔街16号
105,264,数科院,2170502090,徐文峰,硕士,单项,基础课成绩优异,78,数学科学学院,应用数学,2170502090,3,201709,NaN,362422199210134037,江西省吉安市吉水县尚贤乡南生村委洞背自然村1号
106,265,数科院,2170502094,丛庆,硕士,单项,基础课成绩优异,82,数学科学学院,应用数学,2170502094,3,201709,NaN,220284199307135410,松山镇派出所
107,266,数科院,2170502095,谭超,硕士,单项,基础课成绩优异,83,数学科学学院,应用数学,2170502095,3,201709,NaN,500240198908191916,重庆市石柱县六塘乡黄腊村黄腊组76号
108,267,数科院,2170502109,郝红红,硕士,单项,基础课成绩优异,95,数学科学学院,数学教育,2170502109,3,201709,NaN,141124199504040348,山西省吕梁市临县大禹乡前小峪村
109,268,数科院,2170502111,赵敏,硕士,单项,基础课成绩优异,97,数学科学学院,数学教育,2170502111,3,201709,NaN,321281199510245506,江苏省泰州市兴化市竹泓镇
110,269,数科院,2170502122,田莹,硕士,单项,基础课成绩优异,108,数学科学学院,数学物理,2170502122,3,201709,NaN,152104199511146623,黑龙江省齐齐哈尔市建华区建设大街运建园35号楼1单元403室
111,270,数科院,2170502125,程文慧,硕士,单项,基础课成绩优异,111,数学科学学院,数学与信息技术,2170502125,3,201709,NaN,141024199311060021,山西省洪洞县曲亭镇东李村052号
112,271,数科院,2170502127,刘铭,硕士,单项,基础课成绩优异,113,数学科学学院,数学与信息技术,2170502127,3,201709,NaN,220323199509252845,吉林省四平市伊通满族自治县马鞍镇新风村福安屯

In [27]:
std.to_excel('merge.xlsx')

merge的连接默认为内连接（how='inner'），还有外链接（outer）、左外连接（left）、右外连接（right）

In [28]:
left=pd.DataFrame({'key1':['k0','k0','k1','k2'],
                   'key2':['k0','k1','k0','k1'],
                    'a':['A0','A1','A2','A3'],
                    'b':['B0','B1','B2','B3']})
right=pd.DataFrame({'key1':['k0','k1','k1','k2'],
                   'key2':['k0','k0','k0','k0'],
                    'c':['C4','C1','C2','C3'],
                    'd':['D4','D1','D2','D3']})
print(left)
print(right)

  key1 key2   a   b
0   k0   k0  A0  B0
1   k0   k1  A1  B1
2   k1   k0  A2  B2
3   k2   k1  A3  B3
  key1 key2   c   d
0   k0   k0  C4  D4
1   k1   k0  C1  D1
2   k1   k0  C2  D2
3   k2   k0  C3  D3

以两个key做连接(要求两个key都匹配才能连接)
内连接
左边有一项和右边的两项完全匹配时保留两项（左边的一项值重复用）

In [29]:
res=pd.merge(left,right,on=['key1','key2'])
res

  key1 key2   a   b   c   d
0   k0   k0  A0  B0  C4  D4
1   k1   k0  A2  B2  C1  D1
2   k1   k0  A2  B2  C2  D2

In [30]:
left=pd.DataFrame({'key1':['k0','k0','k1','k2','k1'],
                   'key2':['k0','k1','k0','k1','k0'],
                    'a':['A0','A1','A2','A3','A4'],
                    'b':['B0','B1','B2','B3','B4']})
right=pd.DataFrame({'key1':['k0','k1','k1','k2'],
                   'key2':['k0','k0','k0','k0'],
                    'c':['C4','C1','C2','C3'],
                    'd':['D4','D1','D2','D3']})
print(left)
print(right)

  key1 key2   a   b
0   k0   k0  A0  B0
1   k0   k1  A1  B1
2   k1   k0  A2  B2
3   k2   k1  A3  B3
4   k1   k0  A4  B4
  key1 key2   c   d
0   k0   k0  C4  D4
1   k1   k0  C1  D1
2   k1   k0  C2  D2
3   k2   k0  C3  D3

当左边有两项和右边的两项完全匹配时，变成四项（两两组合）
同理我们可以知道当左边的m项和右边的n项完全匹配时，会产生m*n项

In [31]:
res=pd.merge(left,right,on=['key1','key2'])
res

  key1 key2   a   b   c   d
0   k0   k0  A0  B0  C4  D4
1   k1   k0  A2  B2  C1  D1
2   k1   k0  A2  B2  C2  D2
3   k1   k0  A4  B4  C1  D1
4   k1   k0  A4  B4  C2  D2

内连接时（how='inner'）不匹配项全部舍弃，外链接时（outer）则会保留，并填充默认值NaN
外链接在内连接的基础上多了未匹配的项

In [32]:
res=pd.merge(left,right,on=['key1','key2'],how='outer')
res

  key1 key2    a    b    c    d
0   k0   k0   A0   B0   C4   D4
1   k0   k1   A1   B1  NaN  NaN
2   k1   k0   A2   B2   C1   D1
3   k1   k0   A2   B2   C2   D2
4   k1   k0   A4   B4   C1   D1
5   k1   k0   A4   B4   C2   D2
6   k2   k1   A3   B3  NaN  NaN
7   k2   k0  NaN  NaN   C3   D3

左外连接，左边未匹配全部保留

In [34]:
res=pd.merge(left,right,on=['key1','key2'],how='left')
res

  key1 key2   a   b    c    d
0   k0   k0  A0  B0   C4   D4
1   k0   k1  A1  B1  NaN  NaN
2   k1   k0  A2  B2   C1   D1
3   k1   k0  A2  B2   C2   D2
4   k2   k1  A3  B3  NaN  NaN
5   k1   k0  A4  B4   C1   D1
6   k1   k0  A4  B4   C2   D2

右外连接，右边未匹配全部保留

In [17]:
res=pd.merge(left,right,on=['key1','key2'],how='right')
res

  key1 key2    a    b   c   d
0   k0   k0   A0   B0  C4  D4
1   k1   k0   A2   B2  C1  D1
2   k1   k0   A4   B4  C1  D1
3   k1   k0   A2   B2  C2  D2
4   k1   k0   A4   B4  C2  D2
5   k2   k0  NaN  NaN  C3  D3

显示每一行的连接方式：两边都有（both）,只有左边（left_only），只有右边（right_only）

In [18]:
res=pd.merge(left,right,on=['key1','key2'],how='outer',indicator=True)
res

  key1 key2    a    b    c    d      _merge
0   k0   k0   A0   B0   C4   D4        both
1   k0   k1   A1   B1  NaN  NaN   left_only
2   k1   k0   A2   B2   C1   D1        both
3   k1   k0   A2   B2   C2   D2        both
4   k1   k0   A4   B4   C1   D1        both
5   k1   k0   A4   B4   C2   D2        both
6   k2   k1   A3   B3  NaN  NaN   left_only
7   k2   k0  NaN  NaN   C3   D3  right_only

给indecator指定名称

In [35]:
res=pd.merge(left,right,on=['key1','key2'],how='outer',indicator='Indecator')
res

  key1 key2    a    b    c    d   Indecator
0   k0   k0   A0   B0   C4   D4        both
1   k0   k1   A1   B1  NaN  NaN   left_only
2   k1   k0   A2   B2   C1   D1        both
3   k1   k0   A2   B2   C2   D2        both
4   k1   k0   A4   B4   C1   D1        both
5   k1   k0   A4   B4   C2   D2        both
6   k2   k1   A3   B3  NaN  NaN   left_only
7   k2   k0  NaN  NaN   C3   D3  right_only

用index作为连接

In [36]:
left=pd.DataFrame({'A':['A0','A1','A2'],
                  'B':['B0','B1','B2']},
                 index=['K0','K1','K2'])
right=pd.DataFrame({'C':['C0','C1','C2'],
                  'D':['D0','D1','D2']},
                 index=['K0','K2','K3'])
print(left)
print(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

left_index和right_index默认为False

In [21]:
res=pd.merge(left,right,left_index=True,right_index=True) #默认内连接（how='inner'）
res

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

同样可以外链接

In [37]:
res=pd.merge(left,right,left_index=True,right_index=True,how='outer') #默认内连接（how='inner'）
res

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

更名suffixes(后缀)
两个表中有相同的列（属性），但是表达不同的含义，为了区分我们可以给他们加后缀
k表示员工编号（男女有重的，女跟女也有重的），salary表示工资

In [38]:
boys=pd.DataFrame({'k':['K0','K1','K2'],
                  'salary':[1,2,3]})
girls=pd.DataFrame({'k':['K0','K0','K3'],
                  'salary':[4,5,6]})
print(boys)
print(girls)

    k  salary
0  K0       1
1  K1       2
2  K2       3
    k  salary
0  K0       4
1  K0       5
2  K3       6

In [40]:
res=pd.merge(boys,girls,on='k',how='outer')
res

    k  salary_x  salary_y
0  K0       1.0       4.0
1  K0       1.0       5.0
2  K1       2.0       NaN
3  K2       3.0       NaN
4  K3       NaN       6.0

In [39]:
res=pd.merge(boys,girls,on='k',suffixes=['_boy','_girl'],how='outer')
res

    k  salary_boy  salary_girl
0  K0         1.0          4.0
1  K0         1.0          5.0
2  K1         2.0          NaN
3  K2         3.0          NaN
4  K3         NaN          6.0